@import "@/styles/config/mixins";

.team-hero {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 48px;
	position: relative;
	padding: 0 10%;

	@include responsive(phone) {
		padding: 0 5%;
		align-items: center;
		text-align: center;
	}

	&-title {
		@include font(
			var(--font-cormorant),
			56px,
			500,
			150%,
			var(--theme-white)
		);

		@include responsive(phone) {
			font-size: 48px;
		}
	}

	&-description {
		@include font(
			var(--font-red-hat-display),
			24px,
			400,
			150%,
			var(--theme-white)
		);

		@include responsive(phone) {
			font-size: 20px;
		}
	}

	&-button {
		@include init-button;
		position: absolute;
		bottom: 16px;
		left: 50%;
		transform: translateX(-50%);
		color: var(--theme-white);
	}
}
