@import "@/styles/config/mixins";
@import "@/styles/config/animations";

.home-hero-navigation {
	width: 100%;
	position: absolute;

	&-top,
	&-bottom {
		width: 100%;
		position: fixed;
		left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-left,
	&-right {
		display: flex;
		align-items: center;
		gap: 64px;
		padding: 32px;
		border: 1px solid var(--blue-grey-100);
	}

	&-top {
		top: 0;
		animation: fade-bottom 0.5s linear;
	}

	&-bottom {
		bottom: 0;
		animation: fade-top 0.5s linear;
	}

	&-left {
		justify-content: flex-start;
	}

	&-right {
		justify-content: flex-end;
	}

	&-top-left {
		transform: skew(-10deg);
		border-left-color: transparent;
		border-top-color: transparent;
	}

	&-top-right {
		transform: skew(10deg);
		border-right-color: transparent;
		border-top-color: transparent;
	}

	&-bottom-left {
		transform: skew(10deg);
		border-left-color: transparent;
		border-bottom-color: transparent;
	}

	&-bottom-right {
		transform: skew(-10deg);
		border-right-color: transparent;
		border-bottom-color: transparent;
	}

	&-link {
		text-decoration: none;
		@include font(Orbitron, 24px, 800, 125%, var(--blue-grey-100), 3px);
		text-transform: uppercase;
		text-align: center;

		&::after,
		&::before {
			all: unset;
		}

		&:hover {
			color: var(--blue-grey-700);
		}
	}
}
