@import "@/styles/config/mixins";
@import "@/styles/config/animations";

.admin-dashboard {
	width: 100%;

	&-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 42px 48px 56px 48px;

		@include responsive(phone) {
			padding: 24px 6px 56px 12px;
		}

		&-back {
			@include init-button();
			width: 36px;
			height: 36px;
			font-size: 48px;
		}
	}

	&-heading {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		text-align: center;
	}

	&-profile {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 0 5%;

		@include responsive(phone) {
			flex-direction: column-reverse;
			padding: 0;
			gap: 36px;
		}

		&-form {
			width: 60%;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			gap: 36px;

			@include responsive(phone) {
				width: 90%;
				align-items: center;
			}

			button {
				margin: 0 8px;
			}

			& > * {
				width: 75%;
			}
		}

		&-avatar span {
			font-size: 96px;
		}
	}

	&-events,
	&-stats {
		width: 100%;

		&-header {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 24px;
			padding: 24px 48px 56px 48px;

			@include responsive(phone) {
				padding: 24px 12px 56px 12px;
			}
		}

		&-all {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-flow: row wrap;
			gap: 24px;
		}
	}

	&-stats {
		&-header {
			justify-content: center;
		}

		table {
			border-spacing: 1;
			border-collapse: collapse;
			background: white;
			border-radius: 10px;
			overflow: hidden;
			width: 70%;
			margin: 16px auto;
			position: relative;

			@include responsive(phone) {
				width: 95%;
			}

			* {
				position: relative;
			}

			thead th {
				height: 60px;
				background: #36304a;
				color: #ffffff;
				font-family: OpenSans-Regular;
				font-size: 24px;
				color: #fff;
				line-height: 1.2;
				font-weight: unset;
				padding-left: 16px;
				text-align: left;
			}

			tbody tr {
				height: 50px;
				font-family: OpenSans-Regular;
				font-size: 20px;
				color: #808080;
				line-height: 1.2;
				font-weight: unset;

				td {
					padding: 0 16px;
				}

				&:last-child {
					border: 0;
				}

				&:nth-child(even) {
					background-color: #f5f5f5;
				}

				&:hover {
					color: #555555;
					background-color: #f5f5f5;
					cursor: pointer;
				}
			}
		}
	}

	&-loading {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 25% auto;

		svg {
			width: 48px;
			height: 48px;
			animation: rotate 1s linear infinite;
		}
	}

	&-divider {
		width: 100%;
		height: 1px;
		background-color: transparent;
		border-top: 0.01px dashed var(--color-text);
		margin: 64px 0;
	}
}
