@import "@/styles/config/mixins";
@import "@/styles/config/animations";

.admin-event-new {
	width: 100%;

	&-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 24px;
		padding: 42px 48px;

		&-back {
			@include init-button();
			width: 36px;
			height: 36px;
			font-size: 48px;
		}
	}

	&-heading {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		text-align: center;
	}

	&-form {
		width: 60%;
		margin: 16px auto;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		gap: 24px;

		textarea {
			resize: vertical;
		}
	}

	&-loading {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 25% auto;

		svg {
			width: 48px;
			height: 48px;
			animation: rotate 1s linear infinite;
		}
	}
}
