@import "@/styles/config/mixins";

.about {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	padding-top: var(--nav-height);
	scroll-snap-type: mandatory;

	&-container {
		width: 70%;
		padding: 0 20vw 0 36px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;

		@include responsive(phone) {
			width: 100%;
			padding: 0 5%;
		}
	}

	&-content {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		gap: 24px;
		scroll-snap-align: start;

		@include responsive(phone) {
			justify-content: flex-start;
			padding: calc(var(--nav-height) + 24px) 0 0 0;
		}
	}

	&-right {
		width: 30%;
		height: calc(100% - var(--nav-height));
		background-color: var(--theme-black);
		position: fixed;
		top: var(--nav-height);
		right: 0;

		@include responsive(phone) {
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.9) 0%,
				rgba(0, 0, 0, 0.9) 40%,
				transparent 40%
			);
		}

		&-dots {
			position: absolute;
			bottom: -75px;
			right: -75px;
			opacity: 0.35;
			z-index: 7;
		}
	}

	&-slideshow {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-50%, -50%);
		width: 27.5vw;
		height: 27.5vw;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		box-shadow: var(--shadow-elevation-4dp);

		@include responsive(phone) {
			width: 40vw;
			height: 40vw;
			top: unset;
			bottom: 0;
		}

		span {
			position: absolute;

			&:first-child,
			&:last-child {
				top: -2rem;
				width: 12px;
				height: calc(100% + 4rem);

				@include responsive(phone) {
					width: 8px;
					top: -1rem;
					height: calc(100% + 2rem);
				}
			}

			&:first-child {
				left: -2rem;
				background-color: var(--theme-black);

				@include responsive(phone) {
					left: -1rem;
				}
			}

			&:last-child {
				right: -2rem;
				background-color: var(--theme-white);

				@include responsive(phone) {
					right: -1rem;
				}
			}

			&:nth-child(2),
			&:nth-child(3) {
				width: 100%;

				&::before,
				&::after {
					content: "";
					position: absolute;
					top: -2rem;
					left: -2rem;
					width: calc(50% + 2rem);
					height: 12px;

					@include responsive(phone) {
						top: -1rem;
						left: -1rem;
						width: calc(50% + 1rem);
						height: 8px;
					}
				}

				&::before {
					background-color: var(--theme-black);
				}

				&::after {
					left: 50%;
					background-color: var(--theme-white);
				}
			}

			&:nth-child(3) {
				bottom: calc(-4rem + 12px);

				@include responsive(phone) {
					bottom: calc(-2rem + 8px);
				}
			}
		}
	}
}
