@import "@/styles/config/mixins";

.contact {
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 36px;
	padding: 48px;

	@include responsive(phone) {
		height: 100vh;
		padding: var(--nav-height) 24px 24px 24px;
	}

	&-menu {
		position: fixed;
		top: 24px;
		left: 60px;
	}

	&-left {
		width: 45%;
		height: 100%;
		padding-top: 60px;
		padding-bottom: 0;

		@include responsive(phone) {
			display: none;
		}

		img {
			max-width: 100%;
			max-height: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	&-right {
		width: 55%;
		height: 100%;
		padding-bottom: 5%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-flow: column nowrap;
		gap: 36px;

		@include responsive(phone) {
			width: 100%;
			padding-bottom: 0;
			margin-top: 24px;
		}

		&-heading {
			@include font(
				var(--font-red-hat-text),
				84px,
				600,
				var(--color-black),
				120%
			);

			@include responsive(phone) {
				display: none;
			}
		}

		&-content {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex: 0 1 1;
			gap: 48px;
			padding: 36px;
			border: 2px solid var(--color-black);

			@include responsive(phone) {
				padding: 24px;
				flex-direction: column;
				gap: 24px;
			}
		}
	}

	&-form {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 36px;
		flex-direction: column;

		@include responsive(phone) {
			width: 100%;
			gap: 24px;
		}

		input,
		textarea {
			@include font(
				var(--font-red-hat-text),
				20px,
				400,
				var(--color-black),
				120%
			);
		}

		&-button {
			width: 100%;
		}
	}

	&-details {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-flow: column;

		@include responsive(phone) {
			width: 100%;
			gap: 16px;
		}

		&-item {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-flow: column;
			gap: 20px;

			@include responsive(phone) {
				gap: 12px;
				align-items: center;
				text-align: center;
			}

			a span {
				color: var(--theme-navy);
			}

			&-socials {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 18px;

				@include responsive(phone) {
					justify-content: center;
				}

				svg {
					width: 24px;
					height: 24px;
					color: var(--theme-navy);
				}
			}
		}
	}
}
