@import "@/styles/config/mixins";

.faqs {
	width: 100%;
	height: 100vh;
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "DM Sans", sans-serif;

	&-container {
		width: 100%;
		max-width: 80rem;
		margin: 0 auto;
		padding: 0 1.5rem;
	}

	&-accordion {
		&-item {
			background-color: #000000;
			border-radius: 0.4rem;
		}

		&-item hr {
			border: 1px solid rgba(255, 255, 255, 0.5);
		}

		&-link {
			font-size: 1.6rem;
			color: rgba(255, 255, 255, 0.8);
			text-decoration: none;
			background-color: #000000;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-transform: uppercase;
			padding: 1rem 0;
			cursor: pointer;
		}

		&-link h3 {
			font-weight: 500;
			font-size: 20px;
		}

		&-link i {
			color: #e7d5ff;
			padding: 0.5rem;
		}

		&-link ul {
			display: flex;
			align-items: flex-end;
			list-style-type: none;
			margin-left: 25px;
		}

		&-link li {
			font-size: 10px;
			color: rgba(255, 255, 255, 0.4);
			padding: 0 0 1px 5px;
		}

		&-link div {
			display: flex;
		}
	}

	&-answer {
		max-height: 0;
		overflow: hidden;
		position: relative;
		background-color: #000;
		transition: max-height 650ms;

		p {
			color: #fff;
			font-size: 15px;
			padding: 2rem;
		}
	}

	&-accordian-item--active {
		cursor: pointer;
	}

	&-accordian-item--active &-answer {
		max-height: 20rem;
	}
}
