@import "@/styles/config/mixins";
@import "@/styles/config/variables";
@import "@/styles/config/animations";

.navigation {
	&-btn {
		@include init-button;
		position: fixed;
		top: 48px;
		right: 48px;
		z-index: 100;
		width: 48px;
		height: 48px;

		@include responsive(phone) {
			top: 24px;
			right: 24px;
		}

		span {
			width: 48px;
			height: 1px;
			background-color: var(--color-white);
			position: relative;

			@include responsive(phone) {
				width: 32px;
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: var(--color-white);
			}

			&::before {
				transform: translateY(-12px);
			}

			&::after {
				transform: translateY(12px);
			}
		}

		&--open {
			span {
				background-color: transparent;

				&::before {
					transform: translateY(0.5px) rotate(45deg);
				}

				&::after {
					transform: translateY(-0.5px) rotate(-45deg);
				}
			}
		}
	}

	&-nav {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		background-color: rgba($theme-indigo, 0.9);
		backdrop-filter: blur(20px);
		transition: transform 0.3s ease-in-out;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 96px;
		animation: fade-bottom-in 0.4s ease-in-out;

		@include responsive(phone) {
			padding: 48px;
			flex-direction: column;
			gap: 16px;
			justify-content: center;
		}

		&-left,
		&-right {
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			gap: 16px;
			padding: 0 5%;

			@include responsive(phone) {
				width: 100%;
				height: auto;
				padding: 0 32px;
				justify-content: center;
			}

			a {
				width: 100%;
				@include font(
					var(--font-red-hat-display),
					36px,
					400,
					150%,
					var(--color-white)
				);
				text-decoration: none;
				position: relative;

				&::before {
					content: attr(data-index);
					position: absolute;
					left: -80px;
					top: 50%;
					transform: translateY(-50%) rotate(-90deg);
					font-size: 16px;
					color: var(--color-white);

					@include responsive(phone) {
						left: -40px;
					}
				}

				&::after {
					content: "";
					position: absolute;
					bottom: -4px;
					left: 0;
					width: 0;
					height: 1px;
					background-color: var(--theme-navy);
				}

				&:hover,
				&:focus,
				&:active {
					border: none;
					outline: none;
					color: var(--theme-navy);

					&::after {
						width: 70%;
					}
				}
			}
		}

		&--closing {
			animation: fade-bottom-out 0.4s ease-in-out;
		}
	}
}
