@import "@/styles/config/mixins";
@import "@/styles/config/animations";

.home-hero {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--theme-black);
	color: #fff;
	position: relative;

	&-frame {
		width: calc(100% - 125px);
		height: calc(100% - 125px);
		background-color: #000;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		padding: 0 5%;
		position: relative;
		overflow: hidden;
		animation: fade-in 0.5s ease-in-out forwards;
		box-shadow: var(--shadow-elevation-4dp);

		&::before {
			content: "";
			position: absolute;
			right: 0;
			top: calc(50% - 50px);
			transform: translateY(-50%);
			background-color: var(--theme-white);
			width: 70%;
			height: 2px;
			transform: translateX(100%);
			animation: fade-left-in 2.5s ease-in-out forwards 0.25s;
		}
	}

	&-title {
		@include font(
			var(--font-cormorant),
			196px,
			500,
			200px,
			var(--theme-white),
			12px
		);
		text-transform: uppercase;
	}

	&-subtitle {
		@include font(
			var(--font-cormorant),
			96px,
			500,
			200px,
			var(--theme-white),
			8px
		);
		font-style: italic;
	}
}
