@import "@/styles/config/mixins";
@import "@/styles/config/animations";

.home-hero {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	color: #fff;
	position: relative;
	padding-top: 120px;

	@include responsive(phone) {
		gap: 24px;
	}

	&-carousel {
		width: 100%;
		height: 50vh;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 24px;
		padding-left: 10%;
		overflow-x: auto;
		@include hide-scrollbar;

		@include responsive(phone) {
			height: 40vh;
			padding-left: 16px;
		}

		&__item {
			flex: 0 0 auto;
			width: 300px;
			height: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transition: all 0.3s ease-in-out;
			background-blend-mode: darken;
			background-color: rgba(0, 0, 0, 0.3);

			@include responsive(phone) {
				width: 250px;
			}
		}
	}

	&-content {
		width: 100%;
		position: absolute;
		top: calc(50vh + 120px);
		transform: translateY(-20%);
		padding: 0 10% 0 15%;
		@include font(
			var(--font-red-hat-display),
			60px,
			700,
			150%,
			var(--theme-white)
		);

		@include responsive(phone) {
			font-size: 40px;
			position: relative;
			top: unset;
			transform: unset;
			padding: 0 16px;
		}

		&__highlight {
			position: relative;
			z-index: 5;
			padding: 0 8px;

			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 4px;
				z-index: -1;
				background-color: #3d5cff;
				border-radius: 8px;
			}
		}
	}

	&-button {
		@include init-button;
		position: absolute;
		bottom: 16px;
		left: 50%;
		transform: translateX(-50%);
		color: var(--theme-white);
	}
}
