@import "@/styles/config/mixins";

.home-hero {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	position: relative;

	&-title {
		width: 100%;
		text-align: center;
		@include font(Orbitron, 200px, 800, initial, #fff, 50px);
		transform: skew(-10deg);
		text-transform: uppercase;
		animation: appear 0.4s ease-in-out forwards;
		opacity: 0;

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #000;
			z-index: 1;
			animation: reveal 0.6s ease-in-out forwards;
		}
	}

	&-btn {
		@include init-button();
		width: 48px;
		height: 48px;
		position: absolute;
		bottom: 32px;
		left: 50%;
		transform: translateX(-50%);

		&-arrow {
			width: 1px;
			background-color: #fff;
			position: relative;
			animation: expand-arrow 0.5s linear 1s forwards;

			&::before,
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				width: 1px;
				height: 50%;
				background-color: #fff;
				transform-origin: bottom;
			}

			&::before {
				transform: rotate(-45deg);
			}

			&::after {
				transform: rotate(45deg);
			}
		}
	}
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: skew(-10deg) scale(2.5);
	}

	100% {
		opacity: 1;
		transform: skew(-10deg) scale(1);
	}
}

@keyframes reveal {
	0% {
		left: 0;
		width: 100%;
	}

	100% {
		left: 100%;
		width: 0;
	}
}

@keyframes expand-arrow {
	0% {
		height: 0;
	}

	100% {
		height: 48px;
	}
}
