@import "@/styles/config/mixins";

.home-sponsosrs {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	background-color: var(--bg);
	--mesh-height: 150px;

	@include responsive(phone) {
		--mesh-height: 100px;
	}

	&-container {
		width: 100%;
		height: calc(100% - var(--mesh-height));
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 5%;
		overflow: hidden;

		@include responsive(phone) {
			flex-direction: column-reverse;
			justify-content: flex-start;
			align-items: center;
		}
	}

	&-left {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		gap: 36px;

		@include responsive(phone) {
			width: 100%;
			gap: 24px;
			align-content: space-evenly;
		}
	}

	&-right {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		gap: 24px;
		padding: 0 5%;

		@include responsive(phone) {
			width: 100%;
			align-items: center;
			padding: 0 12px;
			text-align: center;
		}
	}

	&-title {
		@include font(
			var(--font-cormorant),
			56px,
			500,
			125%,
			var(--theme-white)
		);
		position: relative;
		z-index: 5;

		svg {
			width: 48px;
			height: 48px;
			position: absolute;
			bottom: -6px;
			right: -24px;
			z-index: -1;
		}
	}

	&-description {
		@include font(
			var(--font-red-hat-text),
			24px,
			400,
			125%,
			var(--theme-white)
		);
	}

	&-sponsor {
		width: 120px;
		height: auto;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		@include responsive(phone) {
			width: 80px;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: auto;
			filter: grayscale(1);
		}

		&:hover {
			filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));

			img {
				transform: scale(0.95) translateY(-2.5%);
				filter: grayscale(0);
			}
		}
	}

	&-mesh {
		width: 100%;
		height: var(--mesh-height);
		perspective: var(--mesh-height);
		position: relative;
		overflow: hidden;

		&-bottom {
			width: 100%;
			height: 200%;
			position: relative;
			background-size: 45px 35px;
			background-repeat: repeat;
			background-image: linear-gradient(
					90deg,
					rgba(255, 255, 255, 0.3) 1px,
					transparent 0px
				),
				linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 0px);
			transform-origin: 100% 0px 0px;
			animation: mesh-foot 15s linear infinite;
		}
	}
}

@keyframes mesh-foot {
	0% {
		transform: rotateX(45deg) translateY(-50%);
	}

	100% {
		transform: rotateX(45deg) translateY(0);
	}
}
