@import "@/styles/config/mixins";

.home-about {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	gap: 24px;
	padding: 24px;

	&-title {
		@include font(Orbitron, 64px, 700);
	}
}
