@import "@/styles/config/mixins";

.home-about {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 36px;
	padding: 0 64px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-image: url("/images/hackathon.jpg");
	background-blend-mode: darken;
	background-color: rgba(6, 12, 34, 0.9);

	@include responsive(phone) {
		align-items: center;
		padding: 0 24px;
		text-align: center;
	}

	&-title {
		@include font(
			var(--font-cormorant),
			96px,
			500,
			125%,
			var(--theme-white)
		);

		@include responsive(phone) {
			font-size: 64px;
		}
	}

	&-body {
		width: 80%;
		@include font(
			var(--font-red-hat-text),
			30px,
			400,
			125%,
			var(--theme-white)
		);

		@include responsive(phone) {
			width: 95%;
			font-size: 20px;
		}
	}

	&-buttons {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 36px;
		padding: 12px 6px;

		@include responsive(phone) {
			justify-content: center;
			flex-direction: column;
		}
	}
}
