@import "@/styles/config/mixins";

.footer {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: darken;
	background-color: #2e3141;
	background-repeat: no-repeat;
	background-image: url("/images/banner.png");
	overflow: hidden;

	&-top {
		width: 100%;
		height: 15%;
		display: flex;
		justify-content: center;
		align-items: center;

		&-heading {
			width: 70%;
			height: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			position: relative;
			@include font(
				var(--font-cormorant),
				36px,
				500,
				150%,
				var(--theme-white)
			);

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: var(--theme-white);
			}

			@include responsive(phone) {
				width: 100%;
				justify-content: center;
				align-items: center;
				padding: 0 24px;
				font-size: 24px;
			}
		}

		@include responsive(phone) {
			width: 100%;
			height: 10%;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}

	&-mid {
		width: 70%;
		height: 65%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include responsive(phone) {
			width: 100%;
			height: 75%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 24px;
		}

		&-left {
			width: 40%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: auto;
				max-height: 92.5%;
				object-fit: contain;
				filter: invert(1);

				@include responsive(phone) {
					width: 90%;
					max-height: 70%;
					height: auto;
				}
			}

			@include responsive(phone) {
				width: 100%;
				height: auto;
			}
		}

		&-right {
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			gap: 24px;

			@include responsive(phone) {
				width: 100%;
				height: 100%;
				justify-content: flex-start;
				align-items: center;
				padding: 0 24px;
				flex: 0 1 auto;
			}
		}

		&-block {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			gap: 16px;

			@include responsive(phone) {
				width: 100%;
				height: 100%;
				justify-content: center;
				align-items: center;
				gap: 24px;
			}

			&--heading {
				color: var(--theme-white);
			}

			&--body {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 18px;

				@include responsive(phone) {
					width: 100%;
					height: 100%;
					justify-content: center;
					align-items: center;
					padding: 0 24px;
				}

				svg {
					width: 24px;
					height: 24px;
					color: var(--theme-white);
				}
			}

			&--link {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 12px;
				text-decoration: none;
				color: var(--theme-white);

				@include responsive(phone) {
					justify-content: center;

					span {
						display: none;
					}
				}
			}

			&:first-child {
				height: 60%;

				@include responsive(phone) {
					height: auto;
				}
			}

			&:last-child {
				height: 30%;

				@include responsive(phone) {
					height: auto;
				}
			}

			&:first-child &--body {
				padding: 30px 0;
				justify-content: space-between;
				align-items: flex-start;
				flex-flow: column wrap;

				@include responsive(phone) {
					padding: 0;
					justify-content: center;
					align-items: center;
					flex-flow: row wrap;
				}
			}
		}
	}

	&-bottom {
		width: 80%;
		height: 10%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		@include font(
			var(--font-cormorant),
			20px,
			400,
			150%,
			var(--theme-white)
		);

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: var(--theme-white);
		}

		@include responsive(phone) {
			width: 100%;
			height: 15%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 12px;
		}
	}
}
