@import "@/styles/config/mixins";
@import "@/styles/config/variables";
@import "@/styles/config/typography";

.btn {
	all: unset;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
	white-space: nowrap;
	flex: 0 0 auto;
	cursor: pointer;
	user-select: none;
	transition: all 0.2s ease-in-out;
	position: relative;
	border-radius: 4px;

	svg {
		width: 20px;
		height: 20px;
	}

	&--size {
		&--medium {
			padding: 12px 18px;
			min-width: 100px;
			letter-spacing: 2px;
			@include font(var(--font-red-hat-display), 16px, 500, 150%);

			&::before {
				top: -8px;
				left: -8px;
			}
		}

		&--small {
			padding: 8px 12px;
			min-width: 80px;
			letter-spacing: 2px;
			@include font(var(--font-red-hat-display), 14px, 500, 150%);

			&::before {
				top: -6px;
				left: -6px;
			}
		}

		&--large {
			padding: 18px 24px;
			min-width: 120px;
			letter-spacing: 2px;
			@include font(var(--font-red-hat-display), 18px, 500, 150%);

			&::before {
				top: -10px;
				left: -10px;
			}
		}
	}

	&--variant {
		&--fill {
			background-color: $theme-navy;
			color: var(--theme-white);
		}

		&--fill:hover {
			background-color: darken($color: $theme-navy, $amount: 10%);
		}

		&--fill:active {
			background-color: darken($color: $theme-navy, $amount: 20%);
		}

		&--fill:disabled {
			background-color: lighten($color: $theme-navy, $amount: 20%);
		}

		&--outline {
			background-color: rgba($theme-navy, 0.2);
			color: var(--theme-black);
			border: 1px solid $theme-navy;
		}

		&--outline:hover {
			background-color: rgba($theme-navy, 0.3);
		}

		&--outline:active {
			background-color: rgba($theme-navy, 0.4);
		}

		&--outline:disabled {
			background-color: rgba($theme-navy, 0.2);
			color: var(--theme-black);
			border-color: var(--theme-indigo);
		}
	}

	&--disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&--loading {
		cursor: not-allowed;
	}

	&__icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;

		&--left {
			margin-right: 8px;
		}

		&--right {
			margin-left: 8px;
		}
	}

	&__loader {
		width: 16px;
		height: 16px;
		border-radius: 500px;
		border: 3px solid transparent;
		animation: spin 1s linear infinite;
	}

	&--small &__loader {
		width: 17px;
		height: 17px;
	}

	&--medium &__loader {
		width: 19px;
		height: 19px;
	}

	&--large &__loader {
		width: 23px;
		height: 23px;
	}

	&--variant--fill &__loader {
		border-left-color: var(--theme-navy);
		border-top-color: var(--theme-navy);
	}

	&--variant--outline &__loader {
		border-left-color: var(--theme-navy);
		border-top-color: var(--theme-navy);
	}

	&:hover {
		box-shadow: var(--shadow-elevation-2dp);
	}

	&:active {
		box-shadow: var(--shadow-elevation-1dp);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
