@import "@/styles/config/mixins";
@import "@/styles/config/animations";

.team-card {
	width: 100%;
	height: 500px;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 32px 0 32px 0;
	overflow: hidden;
	box-shadow: var(--shadow-elevation-8dp);
	margin: 16px;
	cursor: crosshair;

	@include responsive(phone) {
		margin: 24px;
	}

	&-content {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex-direction: column;
		gap: 16px;
		padding: 32px;
		transform: translateY(100%);
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(0, 0, 0, 0.8) 50%
		);

		@include responsive(phone) {
			transform: translateY(0);
			background: linear-gradient(
				180deg,
				rgba(255, 255, 255, 0) 0%,
				rgba(0, 0, 0, 0.8) 75%
			);
		}
	}

	&-cover-name,
	&-name {
		@include font(
			var(--font-red-hat-display),
			32px,
			500,
			150%,
			var(--theme-white)
		);

		@include responsive(phone) {
			font-size: 24px;
		}
	}

	&-bio {
		@include font(
			var(--font-red-hat-display),
			20px,
			400,
			150%,
			var(--theme-white)
		);

		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;

		@include responsive(phone) {
			font-size: 16px;
		}
	}

	&-cover-name {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 32px;
		z-index: 5;
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(0, 0, 0, 0.8) 100%
		);

		@include responsive(phone) {
			display: none;
		}
	}

	&:hover &-cover-name {
		opacity: 0;
	}

	&:hover &-content {
		transform: translateY(0);
		animation: fade-in 0.5s ease-in-out;
	}

	&-socials {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 16px;

		a {
			text-decoration: none;
			color: var(--theme-white);
		}

		svg {
			width: 24px;
			height: 24px;

			@include responsive(phone) {
				width: 16px;
				height: 16px;
			}
		}
	}
}
