@import "@/styles/config/mixins";

.home {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	--frame-size: 125px;
	--bg: var(--theme-indigo);
	background-color: var(--bg);
	position: relative;
	background-image: url("/vectors/mesh.svg");
	background-attachment: fixed;

	@include responsive(phone) {
		--frame-size: 50px;
	}

	section {
		width: 100%;
		overflow-x: hidden;
	}
}
