*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
	scroll-behavior: smooth;
}

:root,
:root::before,
:root::after {
	--transition-time: 0.3s;
	--font-red-hat-display: "Red Hat Display", sans-serif;
	--font-red-hat-text: "Red Hat Text", sans-serif;
	--font-orbitron: "Orbitron", sans-serif;
}

html {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

body {
	font-family: var(--font-poppins);
	overflow-x: hidden;
	@include hide-scrollbar();
	background-image: repeating-linear-gradient(
		to right,
		#dedede,
		#dedede 1px,
		transparent 1px,
		transparent
	);
	background-size: 250px 250px;
}

.dispn {
	display: none !important;
}
