$notion-color-dark: rgb(55, 53, 47);
$notion-color-grey: rgb(120, 119, 116);
$notion-color-brown: rgb(159, 107, 83);
$notion-color-orange: rgb(217, 115, 13);
$notion-color-yellow: rgb(203, 145, 47);
$notion-color-green: rgb(68, 131, 97);
$notion-color-blue: rgb(51, 126, 169);
$notion-color-purple: rgb(144, 101, 176);
$notion-color-pink: rgb(193, 76, 138);
$notion-color-red: rgb(212, 76, 71);

$notion-background-color-green: rgb(241, 241, 239);
$notion-background-color-red: rgb(244, 238, 238);
$notion-background-color-orange: rgb(251, 236, 221);
$notion-background-color-yellow: rgb(251, 243, 219);
$notion-background-color: rgb(237, 243, 236);
$notion-background-color-cyan: rgb(231, 243, 248);
$notion-background-color-purple: rgba(244, 240, 247, 0.8);
$notion-background-color-pink: rgba(249, 238, 243, 0.8);
$notion-background-color-red: rgb(253, 235, 236);
